*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}

:root{
    --a: 0;
    --b: 0;
}

ul{
    list-style: none;
}

body{
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: roboto;
    overflow: hidden;
}

.container{
    height: 100%;
}

.left{
    width: 26vw;
    margin: 5px 2px;
    background-color: black;
    margin-left: 10px;
}

.left-container{
    max-height: 25vh;
    overflow: hidden;
    padding: 10px;
    margin-right: -10px;
    margin-top: 15px;
}

.playlist{
    height: 62.5vh;
}

.left-container:hover{
    overflow-y: scroll;
    overflow-x: hidden;
    transition: ease-in-out 1s;
}

.right{
    width: 70.5vw;
    height: 93vh;
    position: relative;
    left: 8px;
    top: 10px;
    gap: 50vw;
}

.cross{
    display: none;
}

.home{
    flex-direction: column;
    gap: 10px;  
    margin-bottom: 10px;
    margin-top: 5px;
}

.home ul li{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 15px;
}

.home ul li:first-child{
    margin-top: 25px;
}

.logo{
    position: relative;
    width: 200px;
    margin: 10px;
    margin-bottom: -10px;
}

.playlist ul li{
    display: flex;
    gap: 10px;
    align-items: center;
}

.box_heading{
    font-weight: 700;
    font-size: 17px;
}

.box{
    background-color: #242424;
    margin: 20px;
    width: 97%;
    padding: 15px;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    left: -37px;
    flex-direction: column;
    gap: 8px;
    margin-left: 25px;
}

.create{
    padding: 9px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
}

.foot{
    position: absolute;
    bottom: 10vh;
}

.footer{
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 80px;
    width: 80%;
}

.footer a{
    color: rgb(179, 179, 179);
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
}

.english{
    padding: 7px;
    border-radius: 30px;
    border: 1px solid rgb(158, 153, 153);
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
    background-color: transparent;
    gap: 7px;
}

.english:hover{
    border: 1px solid white;
}

.nav{
    min-width: 70vw;
    height: 60px;
    position: relative;
    background-color: #413f3f2f;
}

.hamburger{
    display: none;
}

.arrow{
    position: absolute;
    left: 10px;
}

.buttons{
    position: absolute;
    right: -22px;
    margin-right: 30px;
}

.login{
    border-radius: 30px;
    padding: 10px;
    width: 90px;
    margin: 20px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

.sign_up{
    border-radius: 30px;
    background-color: transparent;
    border: none;
    color: rgb(179, 179, 179);
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

.sign_up:hover{
    color: white;
}

.larrow,.rarrow{
    background-color: black;
    border-radius: 30px;
    padding: 8px;
    margin-left: 2px;
    cursor: pointer;
}

.spotify-playlist{
    position: relative;
    top: 70px;
    margin-left: 10px;
    width: 5vw;
}

.m1{
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    align-content: center;
    left: -120vw;
}

.m2{
    color: rgb(179, 179, 179);
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    right: 52vw;
    width: 100px;
    padding-top: 8px;
}

.m2:hover{
    text-decoration: underline;
}

.m3{
    color: rgb(179, 179, 179);
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    right: 52vw;
    width: 100px;
    padding-top: 8px;
    display: none;
}

.m3:hover{
    text-decoration: underline;
}

.cards-container{
    position: absolute;
    top: 120px;
    width: 100%;
    flex-flow: wrap;
    gap: 15px;
    max-height: 40vh;
    overflow: hidden;
    max-width: 98.8%;
}

.cards-container:hover{
    overflow-y: scroll;
}

.cards{
    gap: 8px;
    background-color: #252525;
    padding: 12px;
    border-radius: 10px;
    width: 114.922px;
    cursor: pointer;
    position: relative;
}

.cards h3{
    font-weight: 400;
    font-size: 16px;
}

.cards p{
    font-weight: 400;
    font-size: 14px;
    color: rgb(179, 179, 179);
    width: 100%;
}

.cards:hover{
    background-color: #303030;
    transition: all ease 300ms;
    --a: 1;
    --b: -17px;
}

.play{
    transform: translateY(var(--b));
    opacity: var(--a);
    border-radius: 100px;
    height: 38px;
    width: 38px;
    z-index: 10;
    position: absolute;
    right: 20px;
    top: 100px;
    transition: all ease 300ms;
}

.card-img{
    border-radius: 10px;
    width: 128px;
    margin-left: -7px;
    margin-top: -7px;
}

.seekbar{
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.575);
    border-radius: 20px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.circle{
    height: 10px;
    width: 10px;
    border-radius: 30px ;
    border: 2px solid rgb(190, 190, 190);
    background-color: rgb(190, 190, 190);
    position: absolute;
    top: -7px;
    left: -2px;
    cursor: pointer;
    transition: left 500ms ease;
}

.circle:hover{
    border: 2px solid rgb(223, 223, 223);
    background-color: rgb(223, 223, 223);
    transform: scale(120%);
    transition: 300ms ease-in-out;
}

.volume{
    cursor: pointer;
}

.volumeseek{
    position: relative;
    align-items: center;
    width: 5%;
}

.playbuttons input{
    left: 40px;
    cursor: pointer;
    height: 5px;
    display: none;
    position: absolute;
    accent-color: rgba(56, 55, 55, 0.568);
}

.playbar{
    position: absolute;
    bottom: 0;
    padding: 10px;
    margin-bottom: 10px;
    width: 96%;
    background-color: #413f3f2f;
    margin-top: 100px;
}

.playbuttons{
    justify-content: center;
    gap: 10px;
    opacity: 0.9;
}

.playbuttons img{
    cursor: pointer;
    filter: invert(1);
    height: 35px;
}

.playbuttons img:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

.music_list{
    flex-direction: row;
    width: 100%;
}

.music_list ul{
    position: absolute;
    left: 0;
    bottom: 110px;
    width: 100%;
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.music_list li{
    gap: 10px;
    margin-left: 10px;
    width: 25%;
    border: 1px solid grey;
    padding: 10px;
    cursor: pointer;
    margin: 10px 25px;
    position: relative;
    min-width: 18vw;
    flex-wrap: wrap;
}

.music_list li .song{
    width: 80%;
    margin-right: 2px;
}

.music_list li:hover{
    border: 1px solid rgb(206, 205, 205);
    transition: 200ms ease-in-out; 
}

.music_list li img:last-child:hover{
    transform: scale(130%);
    transition: 100ms ease-in-out;   
}

.play_song{
    position: absolute;
    right: 10px;
}

.songinfo{
    margin: 10px;
    margin-top: 15px;
    font-weight: 600;
    font-family: roboto;
    margin-bottom: 0;
    position: relative;
}

.songName{
    position: absolute;
    left: 0;
    top: 5px;
}

.duration{
    position: absolute;
    right: 0;
    top: 5px;
}

@media screen and (max-width: 1200px) {
    body{
        overflow: hidden;
    }
    .music_list li{
        width: 40%;
    }
    .playlist{
        min-height: 62vh;
    }
    .left{
        transition: all 0.3s ease;
        z-index: 1;
        padding: 10px;
        position: relative;
        left: -100%;
        height: 100%;
        width: 50%;
        font-size: 12px;
    }
    .logo{
        width: 180px;
    }
    .cross{
        cursor: pointer;
        display: block;
        position: absolute;
        right: 25px;
        top: 35px;
        transition: all 0.5s ease;
    }
    .right{
        left: -22vw;
        width: 93%;
    }
    .nav{
        right: 0;
        position: relative;
        min-width: 93vw;
    }
    .m1{
        left: -143vw;
    }
    .m2{
        right: 50vw;
    }
    .playbar{
        bottom: 15px;
        width: 91%;
    }
    .hamburger{
        display: flex;
        margin-left: 10px;
        cursor: pointer;
    }
    .arrow{
        margin-left: 35px;
    }
    .cards-container{
        justify-content: center;
        align-items: center;
        right: 7px;
    }
    .songinfo{
        font-size: 10px;
    }
    .songName{
        width: 100px;
    }
    .right{
        left: 2px;
        position: absolute;
    }
    .box{
        width: 80%;
        font-size: 10px;
        gap: 3px;
    }
    .box_heading{
        font-size: 12px;
    }
    .create{
        font-size: 11px;
        padding: 4px;
    }
    .footer{
        gap: 10px;
        margin-top: 70px;
    }
    .footer a{
        font-size: 8px;
    }
    .music_list ul{
        bottom: 110px;
        max-height: 120px;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    body{
        overflow: hidden;
    }
    .volumeseek input{
        width: 50px;
        left: 30px;
    }
    body{
        overflow-y: hidden;
    }
    .playbuttons img{
        width: 20px;
    }
    .music_list li{
        width: 70%;
    }
    .music_list ul{
        bottom: 120px;
        max-height: 220px;
        justify-content: center;
        align-items: center;
    }
    .spotify-playlist{
        margin-top: 12px;
        justify-content: center;
    }
    .m2{
        top: -5px;
        right: 55vw;
    }
    .m3{
        right: 55vw;
    }
    .left{
        width: 65%;
    }
}

@media screen and (max-width: 400px){
    body{
        overflow: hidden;
    }
    .volumeseek input{
        writing-mode: vertical-lr;
        direction: rtl;
        height: 70px;
        position: absolute;
        left: -16px;
        bottom: 33px;
    }
    .songName{
        width: 85px;
    }
    .songinfo{
        font-size: 9px;
    }
    .music_list ul{
        bottom: 123px;
        max-height: 102px;
        justify-content: center;
        align-items: center;
    }
    .sign_up{
        font-size: 11px;
        width: 39px;
        position: relative;
        top: 13px;
    }
    .login{
        font-size: 11px;
        width: 51px;
        position: relative;
        top: 2px;
        padding: 4px;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .m1{
        font-size: 16px;
    }
    .m2{
        font-size: 12px;
        right: 45vw;
    }
    .m3{
        font-size: 12px;
        right: 45vw;
    }
}