@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.border{
    border: 2px solid grey;
}

.flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 10px;
}

.p1{
    padding: 10px;
}

.p2{
    padding: 20px;
    margin-bottom: -2px;
}

.font-weight{
    font-weight: 700;
}

.flexc{
    display: flex;
    flex-direction: column;
}

.scale:hover{
    transition: ease-in-out 100ms;
    transform: scale(105%);
}

.translate:hover{
    transition: ease-in-out 100ms;
    transform: translateY(-1px);
}

.link{
    text-decoration: none;
    color: white;
}

.pointer{
    cursor: pointer;
}

.invert{
    filter: invert(1);
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(94, 92, 92, 0.568);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(158, 154, 154, 0.568);
}

::-webkit-scrollbar-thumb:active{
    background-color: rgba(196, 190, 190, 0.568);
}

::-webkit-scrollbar-corner{
    background-color: rgba(94, 92, 92, 0.568);
}